<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Records</title>
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/static/images/favicon-96x96.png"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              background: "#646F86",
              button: "#3D3D3D",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-background">
    <div id="top-bar" class="flex w-full h-[60px]">
      <a href="/">
        <img src="/static/images/Logo.png" class="w-[150px] p-4" />
      </a>
      <a
        href="{{ url_for('add_record') }}"
        class="p-3 mt-[6px] text-right ml-auto mr-[30px] text-[white]"
        >add record</a
      >
      <a
        href="{{ url_for('logout') }}"
        class="p-3 mt-[6px] text-right mr-[30px] text-[white]"
        >Logout</a
      >
    </div>
    <hr class="border-t-2 border-gray-300" />
    <div class="max-w-4xl mx-auto p-6 text-[white]">
      <h1 class="text-4xl font-bold mb-4 text-center">Welcome, {{ user }}!</h1>
      <h2 class="text-2xl font-semibold mb-6">Your Records</h2>
      <ul class="list-disc list-inside space-y-2 pl-5">
        {% for record in records|reverse %}
        <li class="text-lg">{{ record[0] }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
